﻿/* General style sheet for MarkMoeller.com */
// *{outline:1px solid red;}
/* Header and Footer Styles*/
footer{
    font-style:italic;
}

header h1{
    text-align:center;
    color:blue;
    font-size:3em;
    padding: 25px;
    margin-bottom:0px;
    padding-bottom:0px;
}

header h2{
    text-align:center;
    color:blue;
    font-size:2em;
    padding-top:0px;
    margin-top:0px;
}

/* List Styles*/
nav ul{
    list-style-image: url('Pictures/bullet.png');
}

nav ol{
    list-style-type:upper-roman;
}

nav #menu ul{
    float:left;
    line-height:2em;
    list-style-type:none;
    padding-left:0px;
}

nav #menu li a{
    margin-top:2px;
    margin-bottom:2px;
    color:blue;
    display:block;
    width:15em;
    text-decoration:none;
    padding-left:10px;
    margin-left:10px;
    border: 1px solid blue;
    border-radius:15px;
    background-color:white;
    background-color:rgba(128, 128, 128,0.5);
    font-weight:bold;
}

    nav #menu li a:hover {
        color: white;
        background:url('Pictures/flag.png');
    }

/* Body Styles */
body {
    background: url('Pictures/PageBackground2.jpg') no-repeat center fixed;
    background-size:cover;
}

section{background-color:white;
        margin-right:50px;
        margin-left:275px;
        padding:5px;
}

section p {clear:left;}
body hr{
    margin: 10px;
    height: 30px;
    border-style: solid;
    border-color: black;
    border-width: 1px 0 0 0;
    border-radius: 20px;
}

body p{
    display:block;
    color:blue;
}

section article #homeImage{
    float:left;
    margin-left:30px;
    margin-top:0px;
    margin-right:0px;
    padding-right:0px;
    
    width:169px;
    height:244px;
}

section article a{
    width:169px;
    height:244px;
}

section article{
    padding:10px;
}

section article blockquote {
    margin-left:300px;
    // border:2px solid black;
    margin-top:100px;
}

/* Nav Styles */
nav{
    /* background-color:rgb(212, 32, 32); */
}

/* Paragraph Styles*/

/* Survey Styles */

fieldset{
    background-color:white;
    float:left;
    display:block;
    margin:10px 0px 10px;
    width:75%;
    margin-left:10px;
}

fieldset #note{
    
}

legend{
    background-color:rgba(128, 128, 128,0.5);
    border-radius:5px;
    width:100%;
    font-size:1.1em;
    color:blue;
    padding-left:10px;
    height:25px;
}

#userInfo label{
    align-content:flex-end;
}

/* Label Styles */
label{
    clear:left;
    display:block;
    float:left;
    font-size:0.9em;
    margin:7px 4% 7px 5px;
    width:40%;
}

input{
    display:block;
    float:left;
    font-size:0.9em;
    margin:7px 0px;
    width:50%;
}

select{
    display:block;
    float:left;
    font-size:0.9em;
    margin:7px 0px;
    width:50%;
}

fieldset.optionGroup{border-width:0px;}
fieldset.optionGroup label{
    float:none;
    width:100px;
    width:30px;
}

fieldset.optionGroup label input{
    display:inline;
    float:none;
    margin:0px;
    width:20px;
}

label.sliderLabel{
    clear:none;
    margin:10px 0px;
    text-align:center;
    width:10px;
}